@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BaseColor: #0ea5e9;
  --DarkPrimary: #313338;
  --LightPrimary: #ededed;
  --DarkBackground: #121212;
  --LightBackground: #ffffff;
}

body {
  width: 100%;
  margin-inline: auto;
}

.container {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 1rem 0;
}

canvas {
  width: 100%;
  height: 100%;
}

@layer base {
  :root {
    --gradient: var(--BaseColor);
    --background: var(--LightBackground);
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --gradient: #0fa2e3;
    --background: var(--DarkBackground);
    --foreground: 211 8.7% 97.35%;
    --muted: 211 43.5% 14.1%;
    --muted-foreground: 211 8.7% 54.7%;
    --popover: 211 47.6% 6.109999999999999%;
    --popover-foreground: 211 8.7% 97.35%;
    --card: 211 47.6% 6.109999999999999%;
    --card-foreground: 211 8.7% 97.35%;
    --border: 211 43.5% 14.1%;
    --input: 211 43.5% 14.1%;
    --primary: 211 87% 47%;
    --primary-foreground: 211 8.7% 4.699999999999999%;
    --secondary: 211 43.5% 14.1%;
    --secondary-foreground: 211 8.7% 97.35%;
    --accent: 211 43.5% 14.1%;
    --accent-foreground: 211 8.7% 97.35%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 211 8.7% 97.35%;
    --ring: 211 87% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-internal-11f0qyb {
  gap: 1rem;
}

.cl-internal-w8uam1,
.cl-internal-qo3qk7 {
  gap: 0.5rem;
}

.cl-internal-1dauvpw {
  display: none;
}

.cl-internal-tgducu {
  gap: 1rem;
}

li {
  margin: 1rem 1rem;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    color: var(--BaseColor);
  }
}
